{% extends 'layout.html.twig' %}
{% block title %} Administration {% endblock %}

{% block content %}
<div class="my-2">
<h3>Page Accueil</h3>
</div>
<div>
    <a class="my-3 btn btn-success" href="/admin/news">Ajouter une information</a>
</div>

{% endblock %}