{% extends 'layout.html.twig' %}

{% block title %}
	Haras Val de Loire
{% endblock %}

{% block content %}

	<div class="d-flex justify-content-center py-4">
		<div class="r-i-title d-flex bg-primary text-white text-center justify-content-center py-2 rounded-2" style="box-shadow: 4px 4px 10px black; width: 40%;">
			<h2>
				<p class="mb-0">Règlement intérieur</p>
				<p class="mb-0">du</p>
				<p class="mb-0">Haras du Val de Loire</p>
			</h2>
		</div>
	</div>
	<p class="text-center fst-italic">Valable du 01 septembre 2020 au 31 août 2021</p>
	<br>
	<br>


	<h2 class="text-center">Acceptation du règlement</h2>
	<br>
	<div class="text-center">

		<p>Tout cavalier ou représentant légal du cavalier acceptent par son inscription, les clauses du présent 
																																																																																																																				règlement. Les cavaliers ou représentants légaux des cavaliers s'engagent à accepter et à respecter ces 
																																																																																																																				articles du règlement intérieur et des conditions générales de vente, sans réserve ni restriction.</p>
		<p>De même, tout visiteur, notamment, cavalier, meneur, pensionnaire de passage, 
																																																																																																																				accompagnateur, accepte, par sa présence au sein de l’établissement, les clauses de ce règlement.</p>

	</div>
	<div class="accordion" id="accordionExample">
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingOne">
				<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

					Article 1 – Inscriptions – Adhésion – Licence

				</button>
			</h2>
			<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
				<div class="accordion-body">

					<p>Le droit d’accès d’un montant de 110€ annuel ou 10€ mensuel (inclus dans les forfaits 
																																																																																																																																																																																																																																																																									trimestriels et annuels, cours collectifs, cours particuliers, stages licenciés) et la licence fédérale 2021, 
																																																																																																																																																																																																																																																																									sont obligatoires sauf pour les cours et stages découvertes et les groupes constitués. Elles donnent 
																																																																																																																																																																																																																																																																								accès aux installations et permettent de bénéficier des prestations du club. Celles-ci sont nominatives, 
																																																																																																																																																																																																																																																																									valable du 01 Septembre au 31 Août de l’année de référence et jamais remboursables.</p>

					<strong>1/ Reprise hebdomadaire :</strong>
				</br>

				<p>Pendant la période scolaire, le forfait annuel (ou trimestriel) comprend une séance par 
																																																																																																																																																																																																																												semaine, à heure fixe, en dehors des vacances scolaires. 
																																																																																																																																																																																																																												L’inscription est annuelle ou trimestrielle. Le montant dû est payable en une fois (encaissements 
																																																																																																																																																																																																																												différés possibles). Il est calculé sur la base d’une activité annuelle. En cas d’abandon anticipé, le 
																																																																																																																																																																																																																												forfait trimestriel ou annuel est conservé intégralement. Il est possible de régler par chèque, en 
																																																																																																																																																																																																																												espèce, par virement. Il n’est pas possible de payer les cours de la période scolaire par chèquesvacances ou coupons-sports.</p>

				<p>L'inscription du cavalier est nominative et individuelle.</p>

				<p>Le cavalier doit respecter l'horaire choisi. 
																																																																																																																																																																																																																												Tout changement de reprise doit être effectué et validé auprès de la direction uniquement.</p>
				<p>La direction se réserve le droit de déplacer un cours si le nombre de cavaliers minimum n’est pas 
																																																																																																																																																																																																																												atteint, soit 3 (trois) cavaliers.</p>

				<strong>2/ Les animations :</strong>

				<p>Les animations ont lieu les dimanches ou jours fériés. Celles-ci sont annoncées par une note 
																																																																																																																																																																																																																												d'information et par Internet (www.harasduvaldeloire.fr). Les inscriptions aux animations et 
																																																																																																																																																																																																																												compétitions sont fermes, doivent être réglées avant d’être consommées et ne donnent lieu à aucun 
																																																																																																																																																																																																																												remboursement ou report.</p>

			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingTwo">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">

				Article 2 – Annulation – Remboursement

			</button>
		</h2>
		<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
			<div class="accordion-body">

				<strong>1/ Reprise hebdomadaire</strong>

				<p>En cas d’annulation d’une inscription annuelle signalée par écrit avant le premier cours de 
																																																																																																																																																																																																																												l’année, le club remboursera le forfait versé déduit de la somme de 50€ pour frais de dossier (la licence 
																																																																																																																																																																																																																												et les droits d’accès ne sont JAMAIS remboursables).</p>
				<p>En cas d’absences, dues à un incident survenu lors d’un cours d’équitation effectué dans l’un 
																																																																																																																																																																																																																												de nos centres, le montant des séances non effectuées sera calculé et reporté en avoir sur le compte de 
																																																																																																																																																																																																																												la famille du cavalier à partir de la date de réception du justificatif médical. La place du cavalier 
																																																																																																																																																																																																																												dans son cours sera conservée. L’avoir sera à utiliser pour une prestation de l’année en cours.
																																																																																																																																																																																																																												En cas d’absences inférieures à 4 semaines, se référer à l’article 5 du règlement intérieur.</p>

				<strong>2/ Cartes de cours :</strong>

				<p>Les cartes de cours ne sont jamais remboursables. Souscrire à une carte de 5 ou 10 cours ne 
																																																																																																																																																																																																																												permet pas d’avoir une place réservée dans une reprise. Le cours doit être réservé par mail 
																																																																																																																																																																																																																												exclusivement. Tout cours non décommandé 48h à l’avance, par mail exclusivement, sera dû.</p>
				<p>La carte de 5 cours est valable 3 mois.</p>
				<p>La carte de 10 cours est valable 6 mois.</p>

				<strong>3/ La licence :</strong>

				<p>Une fois prise auprès de la fédération, la licence ne pourra être remboursée. Vous retrouvez les 
																																																																																																																																																																																																																												avantages liés à la licence sur le site www.ffe.com ou sur votre page cavalier www.telemat.org.</p>

				<strong>4/ Bons de Réduction :</strong>

				<p>A partir du 1er septembre 2020, les bons de réduction ne sont plus valables.</p>

			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingThree">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				Article 3 – Tenue des cavaliers
			</button>
		</h2>
		<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
			<div class="accordion-body">

				<p>Une tenue réglementaire est exigée :</p>
				<ul>
					<li>une bombe ou un casque d'équitation aux normes NF 1384, personnel et bien ajusté.</li>
					<li>la culotte de cheval est conseillée, un pantalon long ou un legging sont admis.</li>
					<li>le port des bottes ou de boots est obligatoire pour les cavaliers montant avec des étriers, pour les 
																																																																																																																																																																																																																																																					autres, des chaussures fermées sont obligatoires (tong, croks, sandales…interdits).</li>
					<li>les cheveux longs doivent être attachés.</li>
					<li>il est interdit de monter en jupe ou en short.</li>
				</ul>
				<p>Tout cavalier se présentant à son cours d’équitation sans la tenue réglementaire ne pourra 
																																																																																																																																																																																																															participer à sa séance. Il ne sera pas remboursé de son cours non effectué.</p>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingFour">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Article 4 – Arrivée des cavaliers</button>
		</h2>
		<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<p>Il est demandé aux cavaliers d'arriver à l’heure qui leur a été indiqué lors de leur inscription. Tout 
																																																																																																																																																																																																															cavalier en retard n’ayant pas prévenu par téléphone au 02 38 24 75 20 ne sera pas accepté au cours.</p>
				<p>Les enfants en cours d’éveil-poney sont sous la responsabilité du Haras pendant 1/2heure. 
																																																																																																																																																																																																															Les enfants en cours d’équitation sont sous la responsabilité du Haras pendant 1 heure et quart.</p>
				<p>Le Haras du Val de Loire ne pourra être en aucun cas tenue responsable de tout accident pouvant 
																																																																																																																																																																																																															intervenir avant ou après ce délai.</p>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingFive">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Article 5 – Remboursement</button>
		</h2>
		<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<p>Le forfait annuel offre le tarif le plus avantageux. Il implique qu’il n’y a jamais de remboursement en 
																																																																																																																																																																																																															cas d’arrêt définitif. Il en est de même avec le forfait trimestriel.</p>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingSix">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Article 6 – Absences diverses et rattrapages</button>
		</h2>
		<div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<p>Les rattrapages seront possibles en cas de souscription au forfait rattrapage pour convenance 
																																																																																																																																																																																																															personnelle d’un montant de 30€, valable du 1er septembre 2020 au 30 juin 2021.</p>
				<p>Il est possible de souscrire au forfait « rattrapage pour convenance personnelle ». Dans ce cas-là, les 
																																																																																																																																																																																																															absences, prévenues PAR MAIL au plus tard 8 jours à l'avance, sont récupérable dans la limite des 
																																																																																																																																																																																																															places disponibles, et avant la fin des cours de l’année. La date du rattrapage doit être postérieure à la 
																																																																																																																																																																																																															date de l’absence. Toute absence prévenue par téléphone (sms ou message) ne pourra être rattrapée, 
																																																																																																																																																																																																															même si un forfait « rattrapage pour convenance personnelle » avait été souscrit.</p>
				<p>Les absences pour raisons médicales, même avec attestation du médecin, ne sont rattrapables que si 
																																																																																																																																																																																																															le forfait « rattrapage pour convenances personnelles » a été souscrit. L’arrêt médical du médecin
																																																																																																																																																																																																															doit avoir été envoyé dans la semaine qui suit l’arrêt sportif du cavalier, par courrier ou par mail. Les 
																																																																																																																																																																																																															absences pour raisons médicales ne pourront être rattrapées que si ces deux conditions sont remplies.</p>
				<p>Pour les cavaliers ayant une carte, tout cours non décommandé 48h à l’avance sera décompté sur la 
																																																																																																																																																																																																															carte de cours.</p>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="heading7">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">Article 7 – Les accès aux installations équestres</button>
		</h2>
		<div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7" data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<p>Les accès aux stabulations et aux boxes sont privés et réservés aux seuls licenciés du Haras du Val de 
																																																																																																																																																																																																															Loire. Il en est de même pour la carrière, le manège, le terrain de cross, les prés des poneys. Les 
																																																																																																																																																																																																															accompagnateurs ne sont pas autorisés, sauf autorisation expresse de la direction. Il est exigé le respect 
																																																																																																																																																																																																															de l'environnement et la propreté.</p>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="heading8">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">Article 8 – Stationnement des véhicules</button>
		</h2>
		<div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8" data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<p>Un parking gratuit est à la disposition des adhérents. Il leur appartient de respecter les emplacements prévus à cet effet.</p>
				<p>Le Haras du Val de Loire ne pourra être considéré comme responsable en cas de vol. Il est donc 
																																																																																																																																																																																																							conseillé de ne rien laisser d'apparent dans les véhicules.</p>
				<p>Pour des raisons de sécurité évidentes, il est INTERDIT à tout véhicule (voiture et vélos) de pénétrer 
																																																																																																																																																																																																							dans l'enceinte du club. L'allée d'accès est uniquement réservée au personnel ou aux secours. 
																																																																																																																																																																																																							Vélos et voitures doivent être exclusivement garés sur le parking.</p>
			</div>
		</div>
	</div>
	<div class="accordion-item">
		<h2 class="accordion-header" id="heading9">
			<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">Article 9 – Mode de règlement</button>
		</h2>
		<div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading8" data-bs-parent="#accordionExample">
			<div class="accordion-body">
				<p>Les chèques doivent être adressés à l’ordre du HARAS DU VAL DE LOIRE, règlement en espèces 
																																																																																																																																																																																																							accepté, virement accepté, chèques vacances ANCV & Coupon Sport ANCV acceptés seulement pour 
																																																																																																																																																																																																							les stages (avec un minimum de 200€ et avec majoration frais ANCV de 5% sur la somme payée en 
																																																																																																																																																																																																							chèques-vacances ou coupons sport). Il n’est pas possible de régler par carte bancaire, ni titre 
																																																																																																																																																																																																							restaurant ou autre titre du type pass…</p>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="heading10">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">Article 10 – Sécurité</button>
			</h2>
			<div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading8" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>Pour des raisons de sécurité, les chiens sont strictement interdits sur les deux sites du Haras du Val 
																																																																																																																																																																																																																																																de Loire, même tenus en laisse.</p>
					<p>Il est interdit de fumer ou de vapoter dans l’enceinte des établissements.</p>
					<p>L'accès aux stabulations et aux boxes est interdit sans la présence d'une monitrice.</p>
					<p>Seuls ont accès aux carrières, aux boxes et aux stabulations les licenciés au Haras du Val de Loire et 
																																																																																																																																																																																																																																																suivant leur heure de cours hebdomadaire.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="heading11">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">Article 11 – Responsabilité du Haras du Val de Loire</button>
			</h2>
			<div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading8" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>Le Haras du Val de Loire n'est responsable des cavaliers que pendant leur séance d'équitation ou 
																																																																																																																																																																																																																																																pendant les horaires d'une journée de stage.</p>
					<p>Le Haras du Val de Loire n'est pas responsable en cas de perte, de vol ou de dégradation de matériel 
																																																																																																																																																																																																																																						ou biens personnels des cavaliers et ce quel que soit l'endroit.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="heading12">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">Article 12 – Intempéries</button>
			</h2>
			<div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading8" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>En cas d’intempéries climatiques majeurs (tempête, verglas…) La Direction se réserve le droit 
																																																																																																																																																																																																																																						d’annuler les activités prévues (cours, stage, animations) sans contrepartie, ou de déplacer les cours 
																																																																																																																																																																																																																																						d’équitation dans un rayon de 5kms.</p>
					<p>En cas de pluie, les cours sont maintenus. Un manège est à la disposition des cavaliers.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="heading13">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse13" aria-expanded="false" aria-controls="collapse13">Article 13 – Droit à l’image</button>
			</h2>
			<div id="collapse13" class="accordion-collapse collapse" aria-labelledby="heading8" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>L'adhérent ou son représentant légal autorise, sans réserve, le centre équestre à prendre, détenir et 
																																																																																																																																																																																																																																						diffuser son image (photo, vidéo) prise dans le cadre de l'activité. Les images sont acquises 
																																																																																																																																																																																																																																						définitivement, au profit de l'établissement, quelle que soit la période d'utilisation de cette image et 
																																																																																																																																																																																																																																						sans aucun paiement.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="heading14">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse14" aria-expanded="false" aria-controls="collapse14">Article 14 – Renvoi</button>
			</h2>
			<div id="collapse14" class="accordion-collapse collapse" aria-labelledby="heading8" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>Tout adhérent qui par son comportement pourrait nuire à l'intégrité physique ou morale des membres 
																																																																																																																																																																																																																																						ou du personnel du Haras du Val de Loire, peut se voir exclu. Aucun remboursement ne pourra être 
																																																																																																																																																																																																																																						effectué.</p>
				</div>
			</div>
		</div>
		<div class="accordion-item">
			<h2 class="accordion-header" id="heading15">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse15" aria-expanded="false" aria-controls="collapse15">Article 15 – Litige</button>
			</h2>
			<div id="collapse15" class="accordion-collapse collapse" aria-labelledby="heading8" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<p>L’usager et le Haras du Val de Loire s’engagent à régler les litiges à l’amiable. Cependant, en cas de 
																																																																																																																																																																																																																																						litige n’ayant pu être résolu à l’amiable, le tribunal compétent est celui du siège social du Haras du Val 
																																																																																																																																																																																																																																						de Loire.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<p class="text-end me-2 mt-2">La Direction</p>{% endblock %}
