{% extends 'layout.html.twig' %}

{% block title %}
	Page Accueil
{% endblock %}

{% block content %}
	<content class="accueil container p-0 m-0">
		<div style="width: 100vw" height="60vh">
			<img src="/recup_photos/etho2.png" alt="Photo accueil" width="100%" height="100%">
		</div>





	</content>
{% endblock %}
