
.haras-principes-body{
  background-image: url("/recup_photos/pexels-pixabay-460991.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.haras-objectif-body{
  background-image: url("/recup_photos/cave-828604_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.haras-directrice-body{
  background-image: url("/recup_photos/girl-1149933.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.col-8{
    max-height: 50vh;
    overflow-y: scroll;
}
.col-8::-webkit-scrollbar {
  display: none;
}

#principes{
    height: calc(100vh - 94px - 25px);
}
#principes h1{
    text-shadow:  1px 2px #00034a, 0 0 1em#00034a, 0 0 0.2em #00034a!important;
    font-family: 'Dancing Script', cursive;
}

/* #principe_text_area{
    max-height: 103vh!important;
} */
@media (min-width: 1300px){
  #principe_text p{
    font-size: calc(1vh + .8vw)!important;
    height: 80%;
    font-family: 'Dancing Script', cursive;
  }
}
#principe_row{
    font-size: calc(1vh + 1.2vw)!important;
    height:calc(100vh - 94px - 38px - 64px)!important;
    font-family: 'Dancing Script', cursive;
    
}

#goal{
    height: 103vh;
}
#goal_row{
    font-size: calc(1vh + .6vw); 
}
@media (min-width: 1300px){
  #goal_row{
    font-size: calc(1vh + 1vw)!important;
  }
}
#goal h1{
  text-shadow:  1px 2px #00034a, 0 0 1em#00034a, 0 0 0.2em #00034a!important;
  font-family: 'Dancing Script', cursive;
}
#goal_row p{
  text-shadow:  1px 2px #00034a, 0 0 1em#00034a, 0 0 0.2em #00034a!important;
  font-family: 'Dancing Script', cursive;
  font-size: calc(1vh + .8vw);
}

.col-1 img{
    height: 30px;
    width: 30px;
    margin-bottom: 1rem;
}
#director{
    height:103vh;
}

#director_p{
    text-shadow: 1px 1px 2px #00034a, 0 0 1em#00034a, 0 0 0.2em #00034a!important;
    font-size: calc(1vh + 1vw);
    font-family: 'Dancing Script', cursive;
}

#talk_title p{
    text-shadow: 1px 1px 2px #00034a, 0 0 1em#00034a, 0 0 0.2em #00034a!important;
    font-size: calc(1vh + .8vw);
    font-family: 'Dancing Script', cursive;
}
#talk_title{
    text-shadow: 1px 1px 2px #00034a, 0 0 1em#00034a, 0 0 0.2em #00034a!important;
    font-family: 'Dancing Script', cursive;
}
#talk_text{
    font-size: calc(1vh + .7vw)!important;
    text-shadow: 1px 1px 2px #00034a, 0 0 1em#00034a, 0 0 0.2em #00034a!important;
    font-family: 'Dancing Script', cursive;
}

#director_title{
  text-shadow:  1px 2px #00034a, 0 0 1em#00034a, 0 0 0.2em #00034a!important;
  font-family: 'Dancing Script', cursive;
}
#director p{
    font-size: calc(1vh + .7vw)!important;
    text-shadow: 1px 1px 2px #00034a, 0 0 1em#00034a, 0 0 0.2em #00034a!important;
    font-family: 'Dancing Script', cursive;
}

@media (min-width: 1300px){
  #director p{
    font-size: calc(1vh + .6vw)!important;
  }
}


.ftco-section {
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.bottom {
  padding-left: 0;
  padding-right: 0;
  font-family: "Roboto", sans-serif;
}

.map {
  margin-top: 10px;
  margin-bottom: 10px;
}
#navbarNavDropdown{
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
.info {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .dropdown-menu {
    padding-top: 0.2rem !important;
  }
  
  .navbar-collapse {
    padding-left: 8px;
  }
}

.container p-4 {
  color: rgba(255, 255, 255, 0.5) !important;
}

.link-list {
  color: rgba(255, 255, 255, 0.5) !important;
}

@media (min-width: 768px) {
  .text-md-left {
    text-align: left !important;
  }
}

.dropdown-menu {
  border-radius: 0 0 0.25rem 0.25rem !important;
}

.navbar-toggler {
  margin-right: 8px;
}

.dropdown-menu-dark .dropdown-item {
  color: rgba(255, 255, 255, 0.55);
}

.contactus {
  padding-bottom: 50px;
  font-size: calc(1vh + 1.8vw)!important;
  font-family: 'Dancing Script', cursive;
  text-shadow: 1px 1px 2px #00034a, 0 0 1em#00034a, 0 0 0.2em #00034a;
}
.inscription {
  padding-bottom: 20px;
  font-size: calc(1vh + 1.8vw)!important;
  font-family: 'Dancing Script', cursive;
}

.login-form  {
  background-color: #00034a;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;  
  border-radius: 5%;
}

.login-page {
  background-size: cover;
  background-repeat: no-repeat;
}

.ident {
  font-size: calc(1vh + 1.8vw)!important;
  font-family: 'Dancing Script', cursive;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.55);
}

.button{
  color:rgb(3, 3, 117);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; 
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 1000;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  top: 350px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #00034A; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.r-i-title{
  font-family: "Roboto", sans-serif;
}
#haras-nav a{
  font-family: "Roboto", sans-serif;
  text-shadow: 1px 1px 2px #00034a, 0 0 1em#00034a, 0 0 0.2em #00034a;
  font-size: calc(1vh + .5vw)!important;
}

#contactForm{
  font-family: "Roboto", sans-serif;
  font-size: calc(1vh + .8vw)!important;
}

.info{
  font-family: 'Dancing Script', cursive;
}