.accueil {
    /* A modifier quand la police sera définie */
    /* font: var(--text-content) var(--color-content); */
}

.accueil-intro {
    background: linear-gradient(#f9f9f9, #ffffff);
}

.accueil p {
    margin: 5px 5% !important;
}

.accueil-info {
    background-image: url("../images/horse-footer-accueil-mirror.png");
    background-size: auto 75%;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.accueil-event {
    background-image: url("../images/horse-footer-accueil.png");
    background-size: auto 75%;
    background-repeat: no-repeat;
    background-position: bottom left;
}

.accueil-info-content {
    height: 50%;
    width: 90%;
    margin: 5% auto;
    background-color: antiquewhite;
    border-radius: 5px;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5),
        0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5),
        0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3),
        0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.accueil-event-content {
    height: 10%;
    width: 90%;
    margin: 5% auto;
    background-color: antiquewhite;
    border-radius: 5px;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5),
        0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5),
        0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3),
        0 0 40px rgba(0, 0, 0, 0.1) inset;
}