<nav class="navbar navbar-expand-md navbar-dark bg-primary">
	<div class="container-fluid px-3">
		<a class="navbar-brand" href="/">
			<img src="../recup_photos/logo.png" style="width:80px;"></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav flex-grow-1">
				<li class="flex-grow-1"></li>
				<li class="nav-item mx-lg-4">
					<a class="nav-link" href="/">Accueil</a>
				</li>
				<li class="nav-item dropdown mx-lg-4">
					<a class="nav-link dropdown-toggle" href="/haras" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Le Haras
					</a>
					<ul class="dropdown-menu dropdown-menu-dark bg-primary border-0 mt-sm-0 mt-md-3" aria-labelledby="navbarDropdownMenuLink">
						<li>
							<a class="dropdown-item" href="/haras">Principes</a>
						</li>
						<li>
							<a class="dropdown-item" href="/haras#goal">Objectifs</a>
						</li>
						<li>
							<a class="dropdown-item" href="/haras#director">Direction</a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown mx-lg-4">
					<a class="nav-link dropdown-toggle" href="/activity" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Activités
					</a>
					<ul class="dropdown-menu dropdown-menu-dark bg-primary border-0 mt-sm-0 mt-md-3" aria-labelledby=" navbardropdownmenulink">
						<li>
							<a class="dropdown-item" href="/activity">Toutes nos activités</a>
						</li>
						<li>
							<a class="dropdown-item" href="/activity/register">Inscription</a>
						</li>
					</ul>
				</li>
				<li class="nav-item mx-lg-4">
					<a class="nav-link" href="/contact">Contact</a>
				</li>

				<!-- Menu Session -->
				{% if is_logged %}
					<div><a class="nav-link" href="/logout">Se déconnecter</a></div>
					<div><p class="nav-link disabled">{{user.email}} </p></div>	
				{% else %}
				{% endif %}

				<li class="flex-grow-1"></li>
				<li class="nav-item">
					<a class="nav-link" href="/shop">Boutique</a>
				</li>

			</ul>
		</div>
	</div>
</nav>
