{% extends 'layout.html.twig' %}


{% block title %}
    Page Haras
{% endblock %}

{# 
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/style.css"> 
	<link rel="stylesheet" href="/assets/css/style-accueil.css"> 
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css"> 
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css.map"> 
{% endblock %} #}

{% block content %}
    <content class="haras container-flex p-0 m-0">
    

        <div class="navigation-haras">
            <div class="btn-group col-12 position-fixed-top" role="group">
                <a class="btn btn-primary rounded-0 text-light" href="#">Principes</a>
                <a class="btn btn-primary rounded-0 text-light" href="#goal">Objectifs</a>
                <a class="btn btn-primary rounded-0 text-light" href="#director">Direction</a>
            </div>
        </div>

        <div id="principes" class="haras-principes-body p-1 p-lg-4">
            <h1 id "principe_title" class="title text-center text-white pt-3 m-lg-1"  >Les principes de l'éthologie</h1>
            <div id="principe_row"class="row align-items-center">
                <div class="col-4 col-sm-3 col-mg-2 mt-2 col-lg-3" style="text-align-last: center;">
                    <div id="principe_button" class="btn-group-vertical" style="opacity: .8;">
                        <a class="btn btn-primary btn-sm rounded text-light mb-1 border border-light" href="#">Confiance</a>
                        <a class="btn btn-primary btn-sm rounded text-light mb-1 border border-light" href="#">Confort</a>
                        <a class="btn btn-primary btn-sm rounded text-light mb-1 border border-light" href="#">Sensibilisation</a>
                        <a class="btn btn-primary btn-sm rounded text-light mb-1 border border-light" href="#">Savoir-être</a>
                        <a class="btn btn-primary btn-sm rounded text-light mb-1 border border-light" href="#">Réflexes</a>
                        <a class="btn btn-primary btn-sm rounded text-light mb-1 border border-light" href="#">La fuite</a>
                        <a class="btn btn-primary btn-sm rounded text-light mb-1 border border-light" href="#">Instincts</a>
                        <a class="btn btn-primary btn-sm rounded text-light mb-1 border border-light" href="#">Défenses</a>
                        <a class="btn btn-primary btn-sm rounded text-light mb-1 border border-light" href="#">Apprentissage</a>
                    </div> 
                </div>
                
                <div id="principe_text"class="col-8 col-sm-8 mt-3 pr-lg-3 pr-mg-4 col-mg-10 col-lg-8">
                    <p id="principe_text_area"class="p-3 text-light bg-primary rounded border border-light" style="opacity: .8;">L'éducation du couple homme/cheval est basée sur la confiance et le respect mutuel, gage indispensable à la sécurité.<br>
                    Cette confiance est basée sur la sécurité et le confort que vous apportez au cheval. Il ne vous craint pas et sait s'en remettre à vous même dans les situations les plus délicates. 
                    Il apprend à ne pas avoir peur des choses qui ne le concernent pas (l'oiseau qui s'envole soudainement, le chien qui arrive en courant, le cycliste, le tracteur et bien d'autres encore). 
                    Il doit savoir qu'avec vous, rien de fâcheux ne peut lui arriver et que vous serez toujours là pour lui. Cette confiance s'obtient progressivement et peut être très grande. Il vous 
                    appartient ensuite de ne pas la trahir.<br>
                    Un cheval fiable et sûr donne de l'assurance au cavalier et apporte la sécurité.<br>
                    Le respect, c'est avant tout faire bouger les pieds de l'autre! Avoir le contrôle des pieds du cheval c'est agir sur son physique, son mental et son émotionnel. Cela  permet également 
                    d'accroitre la sécurité. Le cheval ne me bouscule pas, il apprend à respecter « mon espace » à pied comme à cheval. A titre d'exemple, un cheval respectueux ne marche pas sur les pieds,
                     ne vous emmène pas en force vers un endroit tentant, ne bouge pas au montoir et répond de façon positive à nos aides.
                     </p>
                </div>

            </div>

		</div>

        <div id="goal" class="haras-objectif-body">
            <h1 id="goal_title" class="title text-center text-white pt-2 pt-lg-4 pb-lg-3 pb-5" >Les objectifs de l'éthologie</h1>
            <div id="goal_box" class="container bt-3 pt-2 pt-lg-5 pb-lg-5 ">
                <div id="goal_row" class="row text-white text-center">
                    <div class="col-1" style="align-self: center;">
                        <img src="/recup_photos/logo-check.png">
                    </div>
                    <div class="col-5" style="align-self: center;">
                        <p id="goal1" class="col-sm col-lg-12 m-lg-0 align-middle">Construire une relation basée sur la confiance et la complicité grâce à une meilleure compréhension du cheval.
                        </p>
                    </div>
                    <div class="col-1" style="align-self: center;">
                        <img src="/recup_photos/logo-check.png">
                    </div>
                    <div class="col-5" style="align-self: center;">
                        <p id="goal2" class="col-sm col-lg-12 align-middle">​Mettre en place un mode de communication avec votre cheval que ce soit pour du loisir ou de la compétition.
                        </p>
                     </div>
                     <div class="col-1" style="align-self: center;">
                        <img src="/recup_photos/logo-check.png">
                    </div>
                    <div class="col-5" style="align-self: center;">
                        <p id="goal3" class="col-sm col-lg-12 align-middle">Avoir un cheval attentif dans tout environnement.
                        </p>
                     </div>
                     <div class="col-1" style="align-self: center;">
                        <img src="/recup_photos/logo-check.png">
                    </div>
                    <div class="col-5" style="align-self: center;">
                        <p id="goal4" class="col-sm col-lg-12 align-middle">Optimiser la locomotion et le fonctionnement de votre cheval dans le respect de l'inné locomoteur.
                        </p>
                     </div>
                </div>
            </div>

            <div id="director_message"class="container pt-lg-5">
                <div id="director_p" class="col-12">
                    <p class="text-white text-center">Notre directrice, Vanessa JORE, souhaite:
                    </p>
                </div>

                <div id="talk_title" class="col-12">
                    <p class="text-white">S'adresser à tous les cavaliers
                    </p>
                </div>
                <div id="talk_text" class="col-11 m-3">
                    <p class="text-white ">- Cavaliers de tout niveau,</br>
                        - Enseignants,</br>
                        - Professionnels du cheval : éleveurs, vétérinaires, maréchaux ferrant, lads jockeys, transporteurs, soigneurs…</br>
                        - Particuliers possédant des installations
                    </p>
                </div>

                <div id="talk_title" class="col-12">
                    <p class="text-white">Vous accompagner dans vos démarches
                    </p>
                </div>
                <div id="talk_text" class="col-11 m-3">
                    <p class="text-white ">- Amélioration des performances sportives,</br>
                        - Gestion du stress et des émotions,</br>
                        - Harmonisation du couple cavalier-cheval
                    </p>
                </div>

                <div id="talk_title" class="col-12">
                    <p class="text-white">Vous partager ses connaissances
                    </p>
                </div>
                <div id="talk_text" class="col-11 m-3">
                    <p class="text-white ">- Toutes disciplines (CSO, Dressage, CCE, Endurance, TREC, Western, Attelage, Courses...),</br>
                        - Enseignants,</br>
                        - Toutes races, âge ou sexe</br>
                        - Tous niveaux
                    </p>
                </div>

            </div>
		</div>

        <div id="director" class="haras-directrice-body">
            <h1 id="director_title" class="title text-center text-white pt-3 p-lg-5"  id="directrice" >Vanessa JORE - Directrice</h1>
            <div class="container justify-items-center">
                <p class="text-white  pt-4 m-4 col-lg-10">Vanessa JORE a toujours eu des chevaux et poneys à la maison, qu’elle s’amusait à dresser dès son plus jeune âge.
                En primaire, Vanessa avait appris à sa ponette shetland « Pâquerette » à effectuer des lançades montées, et à l’étalon shetland de la maison « P’tit Gris » à se coucher à la demande.
                </p>
                <p class="text-white m-4">Ensuite, chaque équidé qui passait par la maison avait droit à l’apprentissage de dressage de base, que ce soit chevaux de randonnée, d’attelage, de loisirs ou de compétition…
                </p>
                <p class="text-white m-4">En 1996, elle découvre le dressage en faisant un stage chez Sylvie CORELLOU, cavalière de dressage ayant participé au championnat d’Europe 1999 avec Vison d’Or. Vanessa achètera le propre frère de Vison d'Or, Emhan d’Or, qu’elle emmènera jusqu’au Grand Prix de dressage avec l’aide de Jean-Noël MYCHALYSIN.
                </p>
                <p class="text-white m-4">Elle dressera également Habib des Tours (vendu en 2006) et Darwin (vendu en 2018) jusqu’au Grand Prix, avec l’aide de ses mentors en dressage, Jean-Noël Mychalisyn et Marina Caplain Saint André.
                </p>
                <p class="text-white m-4">Début 2019, elle rachète deux jeunes chevaux, jamais manipulés, tout juste castrés, sauvages, non licolés, en se donnant le défi de les rendre comme tous ses autres chevaux : gentils, éduqués, agréables à côtoyer, « safe ».
                </p>
                <p class="text-white m-4">Aujourd’hui, les deux jeunes chevaux, Jaguar, 7ans et Kingston, 6ans, suivent une formation de dressage avec Vanessa, aidé par Christophe MAYER, BEES2, instructeur, cavalier et entraineur de dressage émérite. Ils sont doux, faciles à manipuler, montés par d’autres cavaliers régulièrement, sans aucun problème et en toute sécurité.
                </p>
                <p class="text-white m-4">Toute la cavalerie de club (plus d’une trentaine d’équidé) démontre la foi de Vanessa d’avoir des animaux en bonne santé, sains d’esprit et de corps, manipulés dans le respect de l’animal (sans verser non plus dans l’anthropomorphisme).
                </p>
                <p class="text-white m-4">L’école d’équitation le Haras du Val de Loire, avec sa monitrice, Céline MESLAND, également formée aux savoirs éthologiques, laisse le temps ou l'opportunité à chaque élève d'apprendre à être un « homme de cheval ».
                </p>
            </div>
		</div>

   
    </content>

{% endblock %}    
