{% extends 'layout.html.twig' %}

{% block title %}
	Activités
{% endblock %}


{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/css/style-activity.css">
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css.map">
	<link rel="stylesheet" href="../package/swiper-bundle.min.css">
	<link rel="stylesheet" href="/assets/css/style-calendar.css">
{% endblock %}


{% block content %}

	<!-- Cards activity -->
	<div id="activity_body" class="d-flex  flex-wrap">
		<h2 class="text-white text-center my-4 mx-auto" style="font-size: calc(1vh + 1.8vw)!important;
  font-family: 'Dancing Script', cursive;">Retrouvez toutes nos activités</h2>
		<p id="activity-text" class="text-white fs-5 text-center mx-4">
			Le centre équestre, soutenu par la ville de Saint Denis en Val, est agréé label qualité FFE (Fédération Française d'Equitation), ce qui nous autorise à utiliser les méthodes et le matériel spécifiques de l'équitation à poney et à faire passer les examens appropriés.
			      Ce poney-club, proche d'Orléans, met à la disposition de vos enfants une cavalerie adaptée à leur niveau ainsi que des installations qui leur permettront de pratiquer l’équitation en toute sécurité.
			      Les plus jeunes pourront apprendre à monter tout en s'amusant, d'abord avec de petits poneys, bien à leur taille, puis sur des montures plus grandes.
		</p>


		<div class="calendar_component bg-white">
			{% include 'Components/_calendar.html.twig' %}
		</div>


		<div class="col-12 col-md-5 my-3 mx-auto" style="text-align:center; width: 90%;">

			<div class="row justify-content-between ">
				{% for activity in activityType %}
					{% set name = activity.name ? '-' ~ activity.name : '' %}
					{% include 'Components/_card_activity.html.twig' with {
						'src': 'assets/images/' ~ activity.type ~ name ~ '.png',
						'type': activity.type,
						'description': activity.description,
						'price': activity.price,
						'name': activity.name,
						'loopIndex': loop.index,
						'id': activity.id
						} %}

				{% endfor %}
			</div>
		</div>
	</div>


{% endblock %}
