{% extends 'layout.html.twig' %}

{% block content %}

	<h1 class=" contactus mb-4 text-center text-secondary">Inscription</h1>
	<div class="card-container col-12">
		<div class="card-group col-6">
			{% for type in activityType %}
				<div class="card col-4">
					<img src="/recup_photos/etho2.png">
					<div class="card-body bg-danger">
						{{type.type}}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="container col-5">
		<form method="POST" id="contactForm" name="contactForm" class="contactForm" action="/contact/add">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="label" for="firstname"></label>
						<input type="text" class="form-control" name="firstname" id="firstname" placeholder="Prénom" required>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="label" for="lastname"></label>
						<input type="text" class="form-control" name="lastname" id="lastname" placeholder="Nom" required>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label class="label" for="email"></label>
						<input type="email" class="form-control" name="email" id="email" placeholder="Adresse email" required>
					</div>
				</div>

				<div class="col-md-12 my-4">
					<div class="form-group">
						<select class="form-select" aria-label="Default select example">
							<option selected>Choisissez votre activité</option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
							<option value="3">Viva l'Algérie</option>
						</select>
					</div>
				</div>

				<div class="col-md-12">
					<div class="form-group text-center">
						<input type="submit" value="Envoyer" class="mt-5 btn btn-primary">
						<div class="submitting"></div>
					</div>
				</div>
			</div>
		</form>
		<div class="col-md-5 d-flex align-items-stretch">
			<div class="info-wrap w-100 p-5 img"></div>
		</div>
	</div>
{% endblock %}
